{% extends "template.html.twig" %}

{% block title %} {% endblock %}
{% block contents %}     



    <main class="" id="main-collapse">    
        <div class="row">
            <div class="column">
                <img src="../images/black-dahlia.png">                
                <img src="../images/lord-of-the-ring.png">
                
            </div>
            <div class="column">     
                <img src="../images/harry-potter.png">
                <img src="../images/got.jpg">
            </div>
            <div class="column">
                <img src="../images/cthulhu.png">
                <img src="../images/fantastic-beasts.png">                
            </div>
            <div class="column">
                <img src="../images/alice.png">
                <img src="../images/raven.jpg">                
            </div>
        </div>        
    </main>

{% endblock %}