{% extends "template.html.twig" %}

{% block title %} {% endblock %}
{% block contents %}   

    <main class="home-main" id="main-collapse">    
        <div class="row">
            <div class="column">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Harry Potter book cover"
                    src="../images/hp.png"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">Harry Potter</h2>
                        <p class="content-text">J. K. Rowling</p>
                        <a href="/extract">Lire un extrait</a>
                    </div>
                </div>                  
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Lord of the Rings book cover"
                    src="../images/lord-of-the-ring.jpg"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">Le seigneur des anneaux</h2>
						<p class="content-text">J. R. R. Tolkien</p>
                    </div>
                </div>              
            </div>
            <div class="column">   
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Black Dahlia book cover"
                    src="../images/black-dahlia.jpg"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">Le Dahlia noir</h2>
						<p class="content-text">James Ellroy</p>
                    </div>
                </div>
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Game of thrones book cover"
                    src="../images/got.jpg"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">Le Trône de fer</h2>
						<p class="content-text">George R. R. Martin</p>
                    </div>
                </div>  
            </div>
            <div class="column">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Call of Cthulhu book cover"
                    src="../images/cthulhu.jpg"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">L'appel de Cthulhu</h2>
						<p class="content-text">H. P. Lovecraft</p>
                    </div>
                </div>  
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Fantastic Beats book cover"
                    src="../images/fantastic-beasts.jpg"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">Les animaux fantastiques</h2>
						<p class="content-text">J. K. Rowling</p>
                    </div>
                </div>                
            </div>
            <div class="column">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Alice in Wonderland book cover"
                    src="../images/alice.jpg"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">Alice au pays des merveilles</h2>
						<p class="content-text">Lewis Carroll</p>
                    </div>
                </div> 
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Raven book cover"
                    src="../images/raven.jpg"
                    />
                   <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">Le corbeau</h2>
						<p class="content-text">Edgar Allan Poe</p>
                    </div>
                </div>            
            </div>
        </div>        
    </main>

{% endblock %}