{% extends "template.html.twig" %}

{% block title %} {% endblock %}
{% block contents %}   

    <main class="home-main" id="main-collapse">    
        <div class="row">
            <div class="column">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Black Dahlia book cover"
                    src="../images/black-dahlia.png"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">kbb.com</h2>
						<p class="content-text">New Car Tablet Experience</p>
                    </div>
                </div>
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Lord of the Rings book cover"
                    src="../images/lord-of-the-ring.png"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">kbb.com</h2>
						<p class="content-text">New Car Tablet Experience</p>
                    </div>
                </div>              
            </div>
            <div class="column">   
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Harry Potter book cover"
                    src="../images/harry-potter.png"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">kbb.com</h2>
						<p class="content-text">New Car Tablet Experience</p>
                    </div>
                </div>  
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Game of thrones book cover"
                    src="../images/got.jpg"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">kbb.com</h2>
						<p class="content-text">New Car Tablet Experience</p>
                    </div>
                </div>  
            </div>
            <div class="column">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Call of Cthulhu book cover"
                    src="../images/cthulhu.png"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">kbb.com</h2>
						<p class="content-text">New Car Tablet Experience</p>
                    </div>
                </div>  
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Fantastic Beats book cover"
                    src="../images/fantastic-beasts.png"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">kbb.com</h2>
						<p class="content-text">New Car Tablet Experience</p>
                    </div>
                </div>                
            </div>
            <div class="column">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Alice in Wonderland book cover"
                    src="../images/alice.png"
                    />
                    <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">kbb.com</h2>
						<p class="content-text">New Car Tablet Experience</p>
                    </div>
                </div> 
                <div class="content">
                    <div class="content-overlay"></div>
                    <img
                    alt="Raven book cover"
                    src="../images/raven.jpg"
                    />
                   <div class="content-details fadeIn-bottom">
                        <h2 class="content-title">kbb.com</h2>
						<p class="content-text">New Car Tablet Experience</p>
                    </div>
                </div>            
            </div>
        </div>        
    </main>

{% endblock %}